In [20]:
import pandas as pd

df = pd.read_csv("data/time_confirmed.csv")
df = df.drop(["Province/State", "Country/Region","Lat", "Long"], axis=1).sum().reset_index(name="total")
df = df.rename(columns={'index': 'date'})
df

        date     total
0    1/22/20       555
1    1/23/20       654
2    1/24/20       941
3    1/25/20      1434
4    1/26/20      2118
..       ...       ...
199   8/8/20  19637506
200   8/9/20  19861683
201  8/10/20  20089624
202  8/11/20  20344188
203  8/12/20  20620847

[204 rows x 2 columns]