In [24]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_df(condition):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = df.drop(["Province/State", "Country/Region","Lat", "Long"], axis=1).sum().reset_index(name=condition)
    df = df.rename(columns={'index': 'date'})
    return df

final_df = None

for condition in conditions:
    condition_df = make_df(condition)
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
    
final_df

        date  confirmed  deaths  recovered
0    1/22/20        555      17         28
1    1/23/20        654      18         30
2    1/24/20        941      26         36
3    1/25/20       1434      42         39
4    1/26/20       2118      56         52
..       ...        ...     ...        ...
199   8/8/20   19637506  726781   11939109
200   8/9/20   19861683  731326   12115825
201  8/10/20   20089624  736191   12280520
202  8/11/20   20344188  742700   12585473
203  8/12/20   20620847  749358   12826815

[204 rows x 4 columns]