In [59]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_country_df(condition, country):
    df = pd.read_csv("data/time_confirmed.csv")
    df = df.loc[df["Country/Region"] == country]
    df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"]).sum().reset_index(name=condition)
    df = df.rename(columns={'index': "date"})
    return df


final_df = None

for condition in conditions:
    condition_df = make_country_df(condition, "Korea, South")
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
        
final_df

        date  confirmed  deaths  recovered
0    1/22/20          1       1          1
1    1/23/20          1       1          1
2    1/24/20          2       2          2
3    1/25/20          2       2          2
4    1/26/20          3       3          3
..       ...        ...     ...        ...
199   8/8/20      14598   14598      14598
200   8/9/20      14626   14626      14626
201  8/10/20      14660   14660      14660
202  8/11/20      14714   14714      14714
203  8/12/20      14770   14770      14770

[204 rows x 4 columns]