In [16]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")

daily_df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-08-13 04:29:15,33.939110,67.709953,37345,1354,26694,9297.0,Afghanistan,95.932678,3.625653
1,NaN,NaN,NaN,Albania,2020-08-13 04:29:15,41.153300,20.168300,6817,208,3552,3057.0,Albania,236.882341,3.051196
2,NaN,NaN,NaN,Algeria,2020-08-13 04:29:15,28.033900,1.659600,36699,1333,25627,9739.0,Algeria,83.690142,3.632252
3,NaN,NaN,NaN,Andorra,2020-08-13 04:29:15,42.506300,1.521800,977,53,855,69.0,Andorra,1264.479389,5.424770
4,NaN,NaN,NaN,Angola,2020-08-13 04:29:15,-11.202700,17.873900,1762,80,577,1105.0,Angola,5.361120,4.540295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3938,NaN,NaN,NaN,West Bank and Gaza,2020-08-13 04:29:15,31.952200,35.233200,15184,105,8369,6710.0,West Bank and Gaza,297.642851,0.691517
3939,NaN,NaN,NaN,Western Sahara,2020-08-13 04:29:15,24.215500,-12.885800,10,1,8,1.0,Western Sahara,1.674116,10.000000
3940,NaN,NaN,NaN,Yemen,2020-08-13 04:29:15,15.552727,48.516388,1841,528,937,376.0,Yemen,6.172474,28.680065
3941,NaN,NaN,NaN,Zambia,2020-08-13 04:29:15,-13.133897,27.849332,8501,246,7233,1022.0,Zambia,46.241407,2.893777
3942,NaN,NaN,NaN,Zimbabwe,2020-08-13 04:29:15,-19.015438,29.154857,4893,122,1620,3151.0,Zimbabwe,32.920837,2.493358